body{
  font-family: 'Indie Flower', cursive;
  color: gray;
}
.contenedor{
  margin: 5% 10%;
}
.box{
  width: 220px;
  height: 270px;
  box-shadow: 8px 10px 14px -8px #CECECE;
  float: left;
  text-align: center;
  background-color: #f4f1f1;
  padding-top: 30px;
  margin: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}
h2 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 14px;
}
h5 {
  color: gray;
}

.box:hover {
  padding: 20px;
  margin:10px;
  -webkit-transform: scale(1.1); /* permit to move outside in the same place */
  -webkit-transition: all .0.5s ease-in-out;
  background-color: rgba(68, 166, 213, 0.38);
}
.uno:hover{
  color: #7AA2F4;
}
.dos:hover {
  color: rgb(207, 63, 108);
}
.tres:hover {
  color: rgb(161, 180, 96);
}
.cuatro:hover {
  color: rgba(217, 29, 57, 0.81)
}
.cinco:hover {
  color: rgb(75, 126, 149);
}

.contenedor > span {
  bottom: 0;
  right: 15%;
  font-size: 20px;
  position: absolute;
  color: rgb(58, 149, 69)
}
